<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="#"><i class="fa-brands fa-instagram logo f-logo"></i></a>
            <a href="#"><i class="fa-brands fa-facebook logo f-logo"></i></a>
            <a href="#"><i class="fa-brands fa-github logo f-logo"></i></a>
        </div>
        <div>WanderLust pvt Ltd</div>
        <div class="f-info-links">
            <a class="privacy" href="#">Privacy</a>
            <a class="privacy" href="#">Terms</a>
        </div>
    </div>
</footer>